@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    font-family: 'Inter', sans-serif;
  }

  body {
    @apply bg-[#0b0b0c] text-neutral-200;
  }

  /* smoother text rendering */
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
